.u-center-block {
  display: block;
  margin: 0 auto;
}

.u-m-bottom-regular {
  margin-bottom: $regular-margin;
}

.u-m-bottom-large {
  margin-bottom: $large-margin;
}

.u-m-small {
  margin: $small-margin;
}

.u-hidden {
  display: none;
}
