* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%; }

body {
  background-color: #faf8fc;
  overflow: hidden; }

.text-xs {
  font-size: 1rem; }

.text-2xs {
  font-size: 1.2rem; }

.text-sm {
  font-size: 1.4rem; }

.text-base {
  font-size: 1.6rem; }

.text-lg {
  font-size: 2rem; }

.text-xl {
  font-size: 2.4rem; }

.text-2xl {
  font-size: 3.2rem; }

.text-3xl {
  font-size: 4rem; }

.text-medium {
  font-weight: 500; }

.text-bold {
  font-weight: 700; }

.text-center {
  text-align: center; }

.header-secondary {
  margin-bottom: 1.6rem; }

.u-center-block {
  display: block;
  margin: 0 auto; }

.u-m-bottom-regular {
  margin-bottom: 2.4rem; }

.u-m-bottom-large {
  margin-bottom: 3.2rem; }

.u-m-small {
  margin: 1.6rem; }

.u-hidden {
  display: none; }

.btn {
  background: transparent;
  border: 0; }
  .btn_purple {
    color: #6a3ea1; }

.choosing-card {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  border-radius: 0.8rem;
  margin-bottom: 2.4rem; }
  .choosing-card__icon {
    padding: 1.2rem;
    border-radius: 100rem;
    height: 4.6rem; }
    .choosing-card__icon img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); }
    .choosing-card__icon_green {
      background-color: #1f7f40; }
    .choosing-card__icon_lime {
      background-color: #565510; }
    .choosing-card__icon_purple {
      background-color: #3a2258; }
    .choosing-card__icon_red {
      background-color: #5a1623; }
    .choosing-card__icon_yellow {
      background-color: #725a03; }
  .choosing-card__header {
    margin-bottom: 0.8rem;
    color: white; }
  .choosing-card__description_green {
    color: #1f7f40; }
  .choosing-card__description_lime {
    color: #565510; }
  .choosing-card__description_purple {
    color: #efe9f7; }
  .choosing-card__description_red {
    color: #5a1623; }
  .choosing-card__description_yellow {
    color: #725a03; }
  .choosing-card_green {
    background-color: #60d889; }
  .choosing-card_lime {
    background-color: #dedc52; }
  .choosing-card_purple {
    background-color: #6a3ea1; }
  .choosing-card_red {
    background-color: #ce3a54; }
  .choosing-card_yellow {
    background-color: #f8c715; }

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff; }
  .footer__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 1.6rem; }
  .footer__add-note-button {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -4rem;
    border: 0.2rem solid #faf8fc;
    border-radius: 200rem;
    background-color: #faf8fc; }
    .footer__add-note-button img {
      width: 8rem;
      filter: invert(26%) sepia(51%) saturate(1681%) hue-rotate(240deg) brightness(93%) contrast(89%); }
  .footer__nav-btn {
    display: inline-block;
    text-align: center;
    width: 5.2rem; }
    .footer__nav-btn_active {
      filter: invert(26%) sepia(51%) saturate(1681%) hue-rotate(240deg) brightness(93%) contrast(89%); }
    .footer__nav-btn_inactive {
      filter: invert(51%) sepia(14%) saturate(242%) hue-rotate(223deg) brightness(96%) contrast(82%); }
    .footer__nav-btn img {
      width: 3.2rem;
      display: block;
      margin: 0 auto; }

.blank-placeholder {
  padding: 0 12.5%;
  position: relative;
  top: 20vh; }
  .blank-placeholder__illustration {
    width: 65vw; }
  .blank-placeholder__arrow {
    transform: translateX(5rem);
    max-width: 40vw;
    width: 100%;
    height: 12vh;
    display: block; }

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2.4rem; }
  .header__title {
    display: inline-block;
    text-align: center;
    justify-content: center; }

.main {
  padding: 0 1.6rem; }
