// COLORS

$color-primary-base: #6a3ea1;
$color-primary-dark: #3a2258;
$color-primary-light: #efe9f7;
$color-primary-background: #faf8fc;

$color-neutral-grey: #827d89;

// LAYOUT

$regular-margin: 2.4rem;
