.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: $regular-margin;

  &__title {
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
}
